.blog {
  padding: 60px 20px;
  background-color: #fdfdfd;
  font-family: "Barlow", sans-serif;
  text-align: center;

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #333;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__description {
    position: relative;
  }

  &__item {
    position: relative;

    &:first-child:before {
      position: absolute;
      content: "";
      width: 200px;
      height: 200px;
      top: -5%;
      left: -5%;
      border-top: 1px solid black;
      border-left: 1px solid black;
    }

    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #232323;
    max-width: 520px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &-top {
      display: flex;
      gap: 24px;
      padding: 0;
      align-items: stretch;

      img {
        max-width: 260px;
        min-height: 240px;
        display: block;
        flex-shrink: 0;
      }
    }

    &-info {
      padding: 20px 20px 0.25rem 0.75rem;
      max-width: 20.125rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
    }

    &-name {
      display: block;
      margin-bottom: 12px;
    }

    &-title {
      text-transform: uppercase;
      font-size: 24px;
      color: #232323;
      margin: 0;
    }

    &-read {
      align-self: flex-start;
      margin-top: auto;
      text-transform: uppercase;
      min-width: 145px;
      background-color: #fff;
      color: #232323;
      border: 1px solid #232323;
      padding: 6px 12px;
      border-radius: 2px;
      cursor: pointer;
      font-size: 14px;
    }

    &-content {
      font-size: 16px;
      color: #555;
      margin: 5px 20px 25px 20px;
      line-height: 1.5;
      text-align: left;
    }
  }
}

@media (max-width: 360px) {
  .blog {
    &__title {
      font-size: 32px;
    }
    &__item {
      &:first-child:before {
        display: none;
      }

      max-width: 340px;
      &-read {
        max-width: 145px;
        margin-left: 0.75rem;
      }

      &-top {
        flex-direction: column;
        align-items: flex-start;
        img {
          min-width: 340px;
        }
      }

      &-title {
        padding-left: 0.75rem;
      }
    }
  }
}
